.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.footer {
  text-align: center;
  background-color: inherit;
  border-top: 2px solid black;
  flex-shrink: 0;
  height: 75px;
  color: white;
  font-size: 1.1rem;
  padding-top: 15px;
}

.content {
  flex: 1 0 auto;
  background-color: #fdf9ea;
}

.footer div {
  padding-top: 5px;
}

@media only screen and (max-width: 650px) {
  .wrapper {
    width: 100%;
  }
  .content {
    width: 100%;
  }
}
